.dashboard__grid{
  flex: 1 1 auto;
  width: $maxWidth;
  margin: 0 auto;
  background-color: #182948;
  background-image: url("@img/bg.png");

  @media(max-width: $phoneWidth){
    width: 100%;
    padding: 0;
    background-color: #2d3a53;
    // background-image: none;
    // padding: 0;
  }

  display: grid;
  // grid-template: 48px 1fr / 208px 1fr;
  grid-template-columns: 208px 1fr;
  grid-template-rows: 48px 1fr 158px;
  grid-template-areas: 
    "header header"
    "nav main"
    "avatar main";
  @media(max-width: $phoneWidth){
    grid-template-columns: 1fr 38px;
    grid-template-rows: 48px 1fr 63px;
    grid-template-areas:
    "header avatar"
    "main main"
    "nav nav";
  } 
}
.header{
  grid-area: header;
}
.nav{
  grid-area: nav;
}
.aside{
  grid-area: aside;
}
.avatar{
  grid-area: avatar;
}



.dashboard {
  grid-area: main;
  margin: 16px 0;
  @media(max-width: $phoneWidth){
    margin: 0;
  }
  &__statistic {
  }

  &__content {
    padding: 0 24px 16px 0;
    @media(max-width: $phoneWidth){
      padding: 0 24px;
    }
  }
}

.header {

  &__title {
    min-height: 32px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .1);
    display: inline-block;
    line-height: 2.82;
    padding: 0 11px;
    font-size: 11px;
    color: #2d415c;
    text-transform: uppercase;
    font-weight: 700;
    
  }
}