.trips__grid{
  flex: 1 1 auto;
  width: $maxWidth;
  margin: 0 auto;
  background-color: #182948;
  background-image: url("@img/bg.png");

  @media(max-width: $phoneWidth){
    width: 100%;
    padding: 0;
    background-color: #2d3a53;
    // background-image: none;
    // padding: 0;
  }

  display: grid;
  // height: 100%;
  // grid-template: 48px 1fr / 208px 1fr;
  grid-template-columns: 208px 1fr;
  grid-template-rows: 48px 1fr 158px;
  grid-template-areas: 
    "header aside"
    "nav main"
    "avatar main";
  @media(max-width: $phoneWidth){
    grid-template-columns: 1fr 38px;
    grid-template-rows: 48px 48px 1fr 63px;
    // grid-template: 48px  48px 1fr 63px / 1fr 35px;
    grid-template-areas:
    "header avatar"
    "aside aside"
    "main main"
    "nav nav";
  } 
}
.header{
  grid-area: header;
}
.nav{
  margin-right: 64px;
  grid-area: nav;
}
.aside{
  grid-area: aside;
}
.avatar{
  grid-area: avatar;
}



.trips {
  grid-area: main;
  &__container {
    padding: 9px;
    .calendar__title{
      color: #fff;
      font-size: 24px;
      display: none;
      margin-bottom: 10px;
    }
    .calendar__descr{
      color: #fff;
      font-size: 20px;
      display: none;
      margin-bottom: 15px;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7.5px;
  }

  &__column {
    flex: 0 0 50%;
    padding: 7.5px;
    @media(max-width: 500px){
      flex: 0 0 100%;
    }
  }

  &__item {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction:column;
  }
  &__card{
    flex: 1 1 auto;
    padding: 14px 16px;
    position: relative;
    z-index: 4;
    background-color: #fff;
    min-height: 127px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  &__title {
    position: relative;
    z-index: 4;
    font-size: 23px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__rating {
    position: relative;
    z-index: 4;
    span{
      color: #fff;

    }
    .checked{
      color: orange;
    }
  }
  &__label{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7ebef;
  }
  &__link{
    color: #ced6dd;
  }
  &__date {
    color: #010101;
    time{
      font-size: 23px;
      font-weight: 500;
      color: #010101;
      line-height: 0.87;
      span{
        font-size: 21px;
        font-weight: 300;
      }
    }
  }

  &__descr {
    font-size: 15px;
    line-height: 1.33;
    font-weight: 300;
    color: #010101;
  }

  &__image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:after{
      content: '';
      min-width: 100%;
      min-height: 147px;
      background: linear-gradient(to bottom, rgba(39, 53, 71, 0), #1a2e4a);
      z-index: 3;
      position: absolute;
      bottom: 0;
      left: 0;
    }

  }

}
