.aside {
  position: relative;

  &__body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(41, 56, 77);
    padding-left: 23px;
    @media (max-width: $phoneWidth){
      background-color: transparent;
    }
    & > *:not(:last-child){
      margin: 0 25px 0 0;
    }
  }

  &__item {
  }

  &__link {
    color: #fff;
    i{
      margin-right: 10px;
    }
  }
  .calendar{
    position: absolute;
    top: 43px;
    left: 10px;
    width: 300px;
    min-height: 180px;
    background-color: rgba(41, 56, 77, .8);
    border: 1px solid #fff;
    border-radius: 10px;
    z-index: 10;
    padding: 10px;
    color: #fff;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, .5);
    @media (max-width: $phoneWidth) {
      // background-color: #2d3a53;;
    }
    h3{
      font-size: px;
      margin-bottom: 10px;
    }
    &__frm{
      padding: 10px 0;
    }
  }
  .calendar__row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .calendar__column{
    font-size: 20px;
    & > *:not(:last-child){
      margin-right: 10q;
    }
    select{
      width: 70px;
    }

  }
  .calendar__btn{
    width: 120px;
    height: 28px;
    border-radius: 24px;
    background-color: #29384d;
    border: 1px solid #aaa;
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
    color: #fff;
  }
  .calendar__btn-orange{
    background-image: linear-gradient(to left, #f1cd51, #d6566b);
  }
}
